body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.viewer-container {
    padding: 20px;
    text-align: center;
    max-width: 90vw;
    width: 100%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.viewer-container .pdf-watermark{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-20deg);
    font-size: 24px;
    font-weight: bold;
    color: rgba(100, 10, 10, 0.3);
    pointer-events: none;
    white-space: nowrap;
}

/* Responsive Canvas */
canvas {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
}



/* Pagination Controls */
.pagination {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    z-index: 99;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
     margin-bottom: 3rem;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
    font-weight: bold;
}



.pdf-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#pdfCanvas {
    display: block;
    width: 100%;
    height: auto;
}
